<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="form.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S'enregistrer</title>
</head>
<body>
    <section>
        
    <form action="controllerConnect.php" method="post">
       <p> S'enregistrer :</p>  <br><br>
     <input id ="email" type="email" name="email" placeholder="Email"><br><br>
     <input id="mdp" type="mdp" name="mdp" placeholder="Mot de passe"><br><br>
     <input id="confirme_mdp" type="mdp" name=" mdp" placeholder="Confirmer mot de passe"><br><br>
    <input id="valider" type="Submit"  value="S'enregistrer">
    </form>
</section>
</body>
</html>