<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="warnium.css">
    <title>Warnium - Site Officiel</title>
    <link rel="icon" href="img/panel.png">
    <!-- reseaux -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--fin reseaux-->
    <!-- animation -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- fin animation-->
</head>
<body>
<div class="Header">
    <div class="Header-background"></div>
    <div class="Header-content">
      <div class="Header-hero">
        <nav>  
       
          <div class="buttons">
            <button class="login">
            <a href= 'formsite.html' title ="Connexion"> Connexion </a>
           </button>
            <button class="register">
            <a href='register.html' title ="S'enregistrer"> S'enregistrer</a>
           </button>
        </div>
      </nav>
        
      </div>
      <div class="Header-visuals">
        <div class="Iphone"></div>
      </div>
    </div>
  </div>
    
</body>


</html>