
    
      
        
    <div class="box">
        <div class="box red">
            <h2>{{ formation.titre }}</h2>
            <p>{{ formation.credit }}</p>
            <img src="{{ asset('uploads/brochures/' ~ formation.brochureFilename) }}" alt="">
          </div>


          <div class="row1-container">
            <div class="box box-down cyan">
              <h2>{{ formation.titre }}</h2>
              <p>{{ formation.credit }}</p>
              <img src="{{ asset('uploads/brochures/' ~ formation.brochureFilename) }}" alt="">
            </div>


      
          <div class="box box-down blue">
            <h2>{{ formation.titre }}</h2>
            <p>{{ formation.credit }}</p>
            <img src="{{ asset('uploads/brochures/' ~ formation.brochureFilename) }}" alt="">
          </div>
        </div>
        <div class="row2-container">
          <div class="box orange">
            <h2>{{ formation.titre }}</h2>
            <p>{{ formation.credit }}</p>
            <img src="{{ asset('uploads/brochures/' ~ formation.brochureFilename) }}" alt="">
          </div>
        </div>
    </div>