{% extends 'base.html.twig' %}

{% block title %}Nouvelle formation{% endblock %}

{% block body %}
    <h1>Creer une nouvelle formation</h1>

    {{ include('formation/_form.html.twig') }}

    <a href="{{ path('app_formation_index') }}">back to list</a>
{% endblock %}
