{% extends 'base.html.twig' %}

{% block title %}Maison des ligues{% endblock %}

{% block body %}
<header>
  <div class="Header">
    <div class="Header-background"></div>
    <div class="Header-content">
      <div class="Header-hero">
        <nav>  
       
          <div class="buttons">
            <button class="login">
            <a href= 'http://127.0.0.1:8000/formation/' title ="Formation"> Formation </a>
           </button>
            <button class="register">
            <a href='http://127.0.0.1:8000/register' title ="Connexion"> S'enregistrer</a>
           </button>
        </div>
        {% if app.user %}
        
          <a href="{{ path('app_user_show', {'id': app.user.id}) }}">
            <img class="profile" src="{{ asset('build/images/profile.png') }}"/>

          </a>
          
        
         
         
        {% endif %}

      </div>
      </nav>
        
      </div>
      <div class="Header-visuals">
        <div class="Iphone"></div>
      </div>
    </div>
  </div>
</header>

<section class="dybo"> 

    <div class="barca2" > 
        <img class="masia" src="{{ asset('build/images/sport.webp') }}"/>
        <h1>La Maison des Ligues de Itis (M2L) à pour mission de fournir des espaces et des services aux différentes ligues sportives régionales d'ITIS et à d’autres structures hébergées.</h1>
    </div>
    <!--En savoir plus -->
    <div class="decouverte">
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    
    <button class="decouvre" >Découverte</button>
    </div>
    
    
    <!--FIN En savoir plus -->
    </section>

    <!-- Corp-->
<section class="corp">
    <div class="main-container">
        <div class="heading">
          <h1 class="heading__title">Maison de Ligue</h1>
          <p class="heading__credits"><a class="heading__link" target="_blank" href="https://discord.gg/ezbn347hWw"></p>
        </div>
        <div class="cards">
          <div class="card card-1">
            <div class="card__icon"><i class="fas fa-bolt"></i></div>
            <p class="card__exit"><i class="fas fa-times"></i></p>
            <h2 class="card__title">La Maison des Ligues (M2L) a pour mission de fournir des salles et des services aux différentes ligues sportives régionales et à d’autres structures hébergées..</h2>
            <p class="card__apply">
              <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
            </p>
          </div>
          <div class="card card-2">
            <div class="card__icon"><i class="fas fa-bolt"></i></div>
            <p class="card__exit"><i class="fas fa-times"></i></p>
            <h2 class="card__title">La M2L est une structure financée par le Conseil Régional d'Itis dont l'administration est déléguée au Comité Régional Olympique et Sportif d'Itis (MDRR).</h2>
            <p class="card__apply">
              <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
            </p>
          </div>
          <div class="card card-3">
            <div class="card__icon"><i class="fas fa-bolt"></i></div>
            <p class="card__exit"><i class="fas fa-times"></i></p>
            <h2 class="card__title">La Maison des Ligues est un établissement du Conseil Régional. Elle est financée à 100% par Guerfi, bien qu’elle abrite un certain nombre de comités départementaux..</h2>
            <p class="card__apply">
              <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
            </p>
          </div>
          <div class="card card-4">
            <div class="card__icon"><i class="fas fa-bolt"></i></div>
            <p class="card__exit"><i class="fas fa-times"></i></p>
            <h2 class="card__title">Elle héberge la majorité des ligues sportives régionales, de la ligue de tennis.</h2>
            <p class="card__apply">
              <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
            </p>
          </div>
          <div class="card card-5">
            <div class="card__icon"><i class="fas fa-bolt"></i></div>
            <p class="card__exit"><i class="fas fa-times"></i></p>
            <h2 class="card__title">Les « locataires » de la Maison des Ligues ne paient pas de loyer, mais participent aux charges de gestion courante..</h2>
            <p class="card__apply">
              <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
            </p>
          </div>
          <div class="card card-1">
            <div class="card__icon"><i class="fas fa-bolt"></i></div>
            <p class="card__exit"><i class="fas fa-times"></i></p>
            <h2 class="card__title">Les charges comprennent le chauffage, l’électricité, le nettoyage, l’accès Internet ; le téléphone n’en fait pas partie. Les consommations sont refacturées chaque trimestre aux structures hébergées..</h2>
            <p class="card__apply">
              <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
            </p>
          </div>
        </div>
      </div>

    </section>

    <!-- Corp-->




    <footer class="footer">
        <div class="footer__addr">
          <h1 class="footer__logo">Something</h1>
              
          <h2>Contact</h2>
          
          <address>
            5534 Somewhere In. The World 22193-10212<br>
                
            <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
          </address>
        </div>
        
        <ul class="footer__nav">
          <li class="nav__item">
            <h2 class="nav__title">Media</h2>
      
            <ul class="nav__ul">
              <li>
                <a href="#">Online</a>
              </li>
      
              <li>
                <a href="#">Print</a>
              </li>
                  
              <li>
                <a href="#">Alternative Ads</a>
              </li>
            </ul>
          </li>
          
          <li class="nav__item nav__item--extra">
            <h2 class="nav__title">Technology</h2>
            
            <ul class="nav__ul nav__ul--extra">
              <li>
                <a href="#">Hardware Design</a>
              </li>
              
              <li>
                <a href="#">Software Design</a>
              </li>
              
              <li>
                <a href="#">Digital Signage</a>
              </li>
              
              <li>
                <a href="#">Automation</a>
              </li>
              
              <li>
                <a href="#">Artificial Intelligence</a>
              </li>
              
              <li>
                <a href="#">IoT</a>
              </li>
            </ul>
          </li>
          
          <li class="nav__item">
            <h2 class="nav__title">Legal</h2>
            
            <ul class="nav__ul">
              <li>
                <a href="#">Privacy Policy</a>
              </li>
              
              <li>
                <a href="#">Terms of Use</a>
              </li>
              
              <li>
                <a href="#">Sitemap</a>
              </li>
            </ul>
          </li>
        </ul>
        
        <div class="legal">
          <p>&copy; 2019 Something. All rights reserved.</p>
          
          <div class="legal__links">
            <span>Made with <span class="heart">♥</span> remotely from Anywhere</span>
          </div>
        </div>
      </footer>

    



{% endblock %}


