{% extends 'base.html.twig' %}

{% block title %}Inscrire index{% endblock %}

{% block body %}
    <h1>Inscrire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Etat</th>
                <th>actions</th>
                <th>prix</th>

            </tr>
        </thead>
    <tbody>
        {% for formation in dataPanier %}
        <tr>
            <td>{{formation.nombreplace}} </td>
            <td> </td>
            <td> </td> 

        </tr>
        {%else%}

        <td colspan="5 class=text-center"> Panier est vide </td> 
       

        {% endfor %}
    </tbody>
</table>
{% endblock %}
       

